*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.page{
    position:fixed;
    top:0;
    left:-100vw;
    width:100vw;
    height: 100vh;
    overflow:hidden;
    display:grid;
    place-items:center;
    transition: 0.3s 0.3s all ease-in-out;
}

#clocksDiv {
    border: 3px dashed rgb(0, 0, 0, 0.7);
    position:fixed;
    display: grid;
    width: 46vw;
    height: 60vh;
    margin-left: 2vw;
    left:0;
    bottom:3vh;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
}

#alarmsDiv {
    border: 3px dashed rgb(0, 0, 0, 0.7);
    position:fixed;
    display: grid;
    width: 46vw;
    height: 60vh;
    margin-right: 2vw;
    right:0;
    bottom:3vh;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
}

#clocksText{
    right:26.5vw;
    top:29vh !important;
}

#alarmsText{
    left:26.5vw;
    top:29vh !important;
}

.time{
    font-family:arial;
    font-size:6rem;
    height:11rem;
    width:11rem;
    border:1px dotted hotpink;
    border-radius:50%;
    display:grid;
    place-items:center;
}

.visible{
    left:0;
    transition: 0.3s all ease-in-out;
}

#page1{
    background-color: lightskyblue;
}

#page2{
    background-color: lightgreen;
}
#page3{
    background-color: lightcyan;
}
#page4{
    background-color: lightseagreen;
}

h1{
    font-family: Raleway;
    color:hotpink;
}

#page1 h1{
    position: absolute;
    top:5vh;
    text-align: center;
    width:100%;
}

#colortext{
    right:26.5vw;
}

#typetext{
    left:26.5vw;
}

button{
    font-size: large;
}

.rmBtnDiv{
    position:absolute;
}

.rmBtn{
    position: relative;
    top:7.5vh;
    background-color: #ff1111;
    border-color: black;
    color:black;
}

#timePicker {
    display: none;
}

#timePicker.show {
    display: block;
}