*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.page{
    position:fixed;
    top:0;
    left:-100vw;
    width:100vw;
    height:100vh;
    overflow:hidden;
    display:grid;
    place-items:center;
    transition: 0.6s 0.6s all ease-in-out;
    background-image: radial-gradient(white, black)
}

#mainImage{
    border: 5px solid black;
    height: 68vh;
}

.menuitem{
    display:grid;
    place-items:center;
    border: 5px solid black;
    cursor: pointer;
    font-size:50px;
    font-family: "Comic Neue", cursive;
    font-weight: 600;
  }

.menu{
    position: fixed;
    height:13.88vh;
    background:grey;
    width: 100vw;
    bottom:0;
    color:black;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
  }

.visible{
    transition: 0.6s all ease-in-out;
    left:0;
}

#imageSection{
    width: 83.47vw;
    height: 62.59vh;
    position:fixed;
}

h1{
    font-family: "Comic Neue", cursive;
    font-weight: 600;
    color:black;
    font-size:50px;
    position: fixed;
    top:4.16vh;
}

h2{
    font-family: "Comic Neue", cursive;
    font-weight: 600;
    color: black;
    font-size:36px;
}

#page2Text{
    position:fixed;
    top:29.23vh;
}

#screenshot1{
    height:32.59vh;
    position: absolute;
    top:0;
    left:0;
}

#screenshot2{
    height:32.59vh;
    position: absolute;
    top:0;
    right:0;
}

#screenshot3{
    height:23.64vh;
    position: absolute;
    bottom:0;
    left:0;
}

#screenshot4{
    height:23.64vh;
    position: absolute;
    bottom:0;
    right:0.31vw;
}

#conclusionText{
    font-size:46px;
    position:relative;
    bottom:6.99vh;
    text-align: center;
}